#logo{
    width: 12rem;
}

#lupa{
    width: 3rem;
    transform: translate3d(10px, 17px, 10px);
}

.header{
   background-color: brown; 
}

body{

    background-image: url('../img/fondoPantalla.avif');
        background-size: cover; /* Para cubrir toda la pantalla */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    
}

h2, h3{
    color: chartreuse;
}